:root {
    margin: 0;
    border: 0;
    padding: 0;
}
/* Navbar */
nav{
    background-color: #2a9ba9;
}
nav div a img{
    width: 1em;
}
#Hero-Section button{
    background: none;
    border: none;
}